/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* helper css */

.p-80{
    padding: 80px;
}


/* main css  */
.new-section__wrapper{
    display: flex;
    gap: 24px;
}

.navbar{
    font-family: Heebo;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: right;
}

p.para{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}
p.btn{
    font-family:  'Heebo', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;
}

span .btn{
    height: 25;
    margin: 5px;
    width: 62px;
    color: #fff;
    border-radius: 16px;
    background-color:  #142850;
}


.tasks{
    justify-content: center;
    display: flex;
    padding: 80px;

}

.icon svg{
    height: 70px;
    width: 70px;
    padding-right: 30px;
}

@media (max-width:1200px){
    .new-section__wrapper{
        display: block;
    }

    .new-section__right{
        margin-top: 20px;
    }

    a{
        display: none;
    }
}