$mobile-sm: 575px !default;
$tablet: 767px !default;
$desktop-mini: 992px !default;
$desktop: 1024px !default;
$laptop: 1199px !default;
$fullhd: 1440px !default;
$fullxl: 1600px !default;

@mixin respond-low{
    @media(max-width:$tablet){
       @content;
    }
} 

@mixin respond-very-low{
 @media (max-width:$mobile-sm){
    @content;
 }
}

@mixin respond-medium{
    @media(max-width:$desktop-mini){
        @content;
    }
}

@mixin respond-high{
    @media(max-width:$desktop){
        @content;
    }
}
@mixin respond-very-high{
    @media(max-width:$laptop){
        @content;
    }
}

@mixin  respond-very-very-high{
    @media(max-width:$fullhd){
        @content;
    }
}

@mixin respond-max{
    @media(max-width:$fullxl){
        @content;
    }
}