.container {
  max-width: 1320px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.icons {
    display: flex;
    justify-content: center;
    padding: 0px 30px;
  .icon {
      display: flex;
      padding: 10px;
  }
}
