.hero {
  display: flex;
  justify-content: space-between;
  padding:129px;
  &__wrapper {
    display: flex;
  }
  &__content {
    width: 50%;
    .download {
      background-color: $primary-color;
      color: white;
    }
    .intro {
      color:  #21243d;
      font-family: $font-family;
      font-size: 16px;
      font-style: normal;
      font-weight: $font-weight;
      line-height: normal;
    }
  }
  &__img {
    width: 50%;
  }
}
