.hero {
  padding: 100px;

  @include tablet {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;
  }

  h1 {
    color: $font-color;
    font-size: 44px;

    @include tablet {
      display: flex;
      order: 1;
    }
  }
  &__wrapper {
    display: flex;

    @include tablet {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
  &__content {
    width: 80%;
    .download {
      background-color: $primary-color;
      color: white;
      height: 47px;
      width: 208px;

      @include tablet {
        position: relative;
      }
    }
    .intro {
      color: $font-color;
      font-family: $font-family;
      font-size: 16px;
      font-style: normal;
      font-weight: $font-weight-600;
      line-height: normal;
      padding: 30px 0px;

      @include tablet {
        order: 0;
      }
    }
  }
  &__img {
    height: 243px;
    width: 243px;

    @include tablet {
      display: flex;
      flex-direction: column;
      
      order: -1;
    }
  }
}
