.hero {
  padding:100px;
  &__wrapper {
    display: flex;
  }
  &__content {
    width: 100%;
    padding: 0px 115px;
    .download {
      background-color: $primary-color;
      color: white;
      width: 200px;
    }
    .intro {
      color:  $font-color;
      font-family: $font-family;
      font-size: 16px;
      font-style: normal;
      font-weight: $font-weight;
      line-height: normal;
      padding:30px 0px;
    }
  }
  &__img {
    width: 15%;
    height: 243px;
    width: 243px;
  }
}
