h1 {
    color: $font-color;
    font-size:44px;
    
}


button{
    font-size: 22px;
    border: hidden;
}
.new-section{
    padding: 40px;
    .new-section__wrapper{
        display: flex;
        background: $color;
        gap:30px;
        .new-section__left{
            background: $background;
            font-family: $font-family;
            color: $font-color;
            font-size:$font-size;
            padding: 24px;
        }
        .new-section__right{
            background: $background;
            font-family: $font-family;
            color: $font-color;
            font-size:$font-size;
            padding: 24px;
        }
    }
}

p{
    font-family: $font-family;
    color: $font-color;
    font-size:$font-size;
    padding: 17px;
}

.work{
    font-size: 22px;
    padding-top: 30px;
    .tasks{
        display: flex;
        gap:40px;
    
        img{
            padding: 0px 18px;
    
        }
    
        a{
            text-decoration: none;
            padding-top: 20px;
        }
    
        .date{
            background-color: $button-color;
            color: $background;
            border-radius:16px;
        }
    
        .para{
            color: $light-color;
            font-family: $font-family;
            padding: 20px 0px;
        }
}

}