h1 {
    color: $font-color;
    font-size:44px;
    
}


button{
    font-size: 22px;
}

.new-section__wrapper{
    .new-section__left{
        font-family: $font-family;
        color: $font-color;
        font-size:$font-size;
    }
}

p{
    font-family: $font-family;
    color: $font-color;
    font-size:$font-size;
}